<?xml version="1.0" encoding="utf-8"?>
<Configuration>
    <Appenders>
        <Console name="Console" target="SYSTEM_OUT">
            <PatternLayout pattern="%-5p %d [%t] [processor: %X{processorPath}; event: %X{correlationId}] %c: %m%n"/>
        </Console>
    </Appenders>
    <Loggers>
        <AsyncLogger name="org.mule.service.http.impl.service.HttpMessageLogger" level="WARN"/>
        <AsyncLogger name="org.mule.extension.http.internal.HttpMessageLogger" level="WARN"/>
        <AsyncLogger name="org.mule.extension.http.internal.HttpConnector" level="WARN"/>
        <AsyncLogger name="com.mulesoft.mule.runtime.plugin" level="WARN"/>
        <AsyncLogger name="org.mule.maven.client" level="WARN"/>
        <AsyncLogger name="org.mule.runtime.core.internal.util" level="WARN"/>
        <AsyncLogger name="org.jeasy.rules" level="WARN"/>
        <AsyncLogger name="com.mulesoft.anypoint.httpclient" level="WARN"/>
        <AsyncRoot level="INFO">
            <AppenderRef ref="Console"/>
        </AsyncRoot>
    </Loggers>
</Configuration>
